header,footer {
  background-color:#38b6ff;
  padding: 10px;
}
.footer-columns {
  display: flex;
}
.footer-column {
  flex: 50%;
  margin: 20px;
}
main {
  padding: 10px;
  background-color: silver;
}
.post{
  background-color: white;
  padding: 20px;
  border-radius: 10px;
  margin-bottom: 20px;
  margin-right: 40px;
  display: flex;
}


.comments {
background-color: white;
padding: 20px;
border-radius: 10px;
margin-top: 10px;
}
.author
{
margin-top: 2px;
margin-bottom: 10px;
}
.date {
color: silver;
margin-top: 2px;
margin-bottom: 10px;
}

#sub-comment {
margin-left: 40px;
}


nav{
	height: 42px;
	background-color: cornflowerblue;
	border-radius: 15px;
}
nav ul{
	list-style: none;
	border-radius: 15px;
}
nav ul li a{
	text-decoration: none;
	float: left;
	color: #FFFFFF;
	padding: 0px 40px;
	text-align: center;
	line-height: 42px;
	height: 42px;
}
nav ul li a:hover{
	background-color: #FFFFFF;
	color:cornflowerblue;
	border-radius: 8px;
	
}
body{
	background-color: #112E42;
}
nav ul li a.active{
	background-color: #FFFFFF;
	color:cornflowerblue;
	border-radius: 8px;	
}

}

.carousele{
	margin: 10px;
}

.carousele div img{
	width: 100%
}
p{
	font-family: 'Lobster', cursive;
	font-size: 20px;
}
img{
	padding: 20px;
}
